/* font */
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Edu+TAS+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
@font-face {
  font-family: ticket-id;
  src: url("./font/Motlleg Fantasy.otf");
}
@font-face {
  font-family: cantate;
  src: url("./font/Cantate\ Beveled.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hide-toggle {
    @apply h-0;
  }
}
