<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/custom.css" />
    <!--Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
  </head>
  <body class="bg-slate-50">
    <!-- home -->
    <div>
      <!-- Home Container-->
      <div>
        <!--Navber-->
        <div class="w-full mb-3 top-0 pt-4  bg-slate-50 fixed">
          <div class="flex justify-between px-4">
            <div class="">
              <!--Logo-->
              <div class="">
                <a href="#">
                  <img
                    class="block object-fill h-10 md:h-8 lg:h-11 w-50"
                    src="../img/logo.png"
                    alt=""
                /></a>
              </div>
            </div>
            <!--Nav List-->
            <div>
              <div class="hidden md:block">
                <ul>
                  <li class="inline-block md:text-lg lg:text-2xl mr-5">
                    <a
                      class="font-arima font-bold text-green-700 hover:text-blue-700 transition ease-in-out duration-75"
                      href="http://127.0.0.1:5500/site/layouts/home.html"
                      ><i class="bi bi-ticket">&nbsp;</i>TICKETS</a
                    >
                  </li>
                  <li class="inline-block md:text-lg lg:text-2xl mr-5">
                    <a
                      class="font-arima font-bold text-green-700 hover:text-blue-700 transition ease-in-out duration-75"
                      href="http://127.0.0.1:5500/site/layouts/tickets-buy.html"
                      ><i class="bi bi-bag"></i> &nbsp;BUY</a
                    >
                  </li>
                  <li class="inline-block md:text-lg lg:text-2xl mr-5">
                    <a
                      class="font-arima font-bold text-green-700 hover:text-blue-700 transition ease-in-out duration-75"
                      href="./winner.html"
                      ><i class="bi bi-trophy"></i>&nbsp;WINNER</a
                    >
                  </li>
                  <li class="inline-block md:text-lg lg:text-2xl mr-5">
                    <a
                      class="font-arima font-bold text-green-700 hover:text-blue-700 transition ease-in-out duration-75"
                      href="#"
                      ><i class="bi bi-gear"></i>&nbsp; SETTING</a
                    >
                  </li>
                </ul>
              </div>
              <!--Icon for nav toggling-->
              <div class="md:hidden">
                <span
                  class="toggle-btn text-4xl cursor-pointer"
                  id="toggle-btn"
                >
                  <i
                    class="bi bi-justify-left text-zinc-700 transition ease-out duration-100 hover:shadow-inner"
                  ></i>
                </span>
              </div>
            </div>
          </div>

          <!-- list for md max devices -->
          <div
            class="md-navber transition ease-in-out duration-100 overflow-hidden md:hidden toggle-navber "
            id="toggle-navber"
          >
            <div class="my-4">
              <hr class="my-3" />
            </div>
            <div class="bg-white py-2 border-2 rounded-md">
              <ul>
                <li
                  class="md:inline-block md:text-lg lg:text-2xl mr-5 transition ease-in-out duration-10 block py-2 my-2 rounded-xl  "
                >
                  <a
                    class="font-arima ml-4 font-bold text-green-700 transition ease-in-out duration-75"
                    href="/index.html"
                    ><i class="bi bi-ticket">&nbsp;</i>TICKETS</a
                  >
                </li>
                <li
                  class="md:inline-block md:text-lg lg:text-2xl transition ease-in-out duration-10  mr-5 block py-2 my-2 rounded-xl "
                >
                  <a
                    class="font-arima ml-4 font-bold text-green-700 transition ease-in-out duration-75"
                    href="buy-tickets.html"
                    ><i class="bi bi-bag"></i> &nbsp;BUY</a
                  >
                </li>
                <li
                  class="md:inline-block md:text-lg lg:text-2xl mr-5 block transition ease-in-out duration-10 py-2 my-2  rounded-xl "
                >
                  <a
                    class="font-arima ml-4 font-bold text-green-700 transition ease-in-out duration-75"
                    href="http://127.0.0.1:5500/site/layouts/winner.html"
                    ><i class="bi bi-trophy"></i>&nbsp;WINNER</a
                  >
                </li>
                <li
                  class="md:inline-block md:text-lg lg:text-2xl mr-5 block py-2 transition ease-in-out duration-10 my-2 rounded-xl h"
                >
                  <a
                    class="font-arima ml-4 font-bold text-green-700 transition ease-in-out duration-75"
                    href="#"
                    ><i class="bi bi-gear"></i>&nbsp; SETTING</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- hr -->
          <div class="border-b-4 border-slate-200 h-4 shadow-md rounded"></div>
        </div>

            

<div class="mt-24 container mx-auto px-4">
  <div class="grid grid-cols-6 my-5">
    <div class="md:col-span-3 col-span-2">
      <h3 class="md:text-3xl text-xl font-arima ">
        All Available Tickets
      </h3>
    </div>
    <div class="md:col-span-3 col-span-4">
      <div class="grid grid-cols-6 gap-2">
        <div class="col-span-4">
          <input
          class="px-3 w-full py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="Username"
        />
        </div>
        <div class="col-span-2">
          <button class="btn w-full overflow-hidden  px-2 py-2 border-2 border-green-600 text-green-600 font-medium text-xs leading-tight uppercase rounded hover:bg-blue-600 hover:bg-opacity-20 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" type="button" id="button-addon3">
            <i class="bi bi-search"></i>
         <span class="hidden md:inline-block">
          Search
         </span>
       
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Show all tickets and search  tickets -->


<div>
  <div class="container mx-auto px-4 mt-3 md:mt-6">
    <div class=" grid grid-cols-12 gap-3">
      <!-- card -->
      <div class="rounded-lg border-2 hover:border-4  bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40  text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
           <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40  text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
                   <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40  text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
                   <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40   text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
                   <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40  text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
                   <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40  text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
                   <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl  text-opacity-40 text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
                   <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40  text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
                         <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40  text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
                         <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40  text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
                         <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40  text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
                         <!-- card -->
      <div class="rounded-lg border-2 hover:border-4 bg-white max-w-sm md:col-span-6 col-span-12 xl:col-span-3">
       
        <h1 class="text-8xl text-opacity-40  text-green-600 font-cantate">fdlfjFjf</h1>
        <div class=" p-3">
          <h5 class="text-gray-900 text-xl font-ticket-name  mb-2 font-semibold">Shohag Islam Sajjad</h5>
          <span class="block  font-nova"><span class="font-semibold">Ticket-id:</span> <span class="text-green-600">dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Price:</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Buy date</span> <span>dkhfdgf</span></span>
          <span class="block font-nova"><span class="font-semibold">Update date:</span> <span>dkhfdgf</span></span>
        </div>
      </div>
        <!-- card  end-->
    </div>
  </div>
  <!-- previus and next button -->
<div class="px-4 container mx-auto py-4">
  <button
  class="w- px-4 py-2 font-bold text-white bg-lime-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
  type="button"
>
  Previus
</button>
<button
class="w- px-4 py-2 font-bold text-white bg-green-600 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
type="button"
>
Next
</button>
</div>
</div>
         
<!-- // -->
<footer>
<div>
  <!-- hr -->
  <div class="border-b-2 border-slate-200 h-4 shadow-md rounded"></div>
  <!-- main footer -->
  <div class="container mx-auto px-4 mt-10">
      <div class="flex  align-middle justify-center">
        <div class="bg-white rounded-full border-2 ">
          <img src="../img/dev.jpg" class="object-none md:h-50 md:w-50  rounded-full p-1" alt="dev photo">
        </div>
        <div>
          <div>
            <h1><span class="text-xl font-cantate">&COPY;Copyright 2022.</span> <span class="text-xl font-edu">Design and Developed by</span>
              <u> <a class=" font-xl font-edu" href="https://github.com/msbhh-ms font-edu">Shohag Islam Sajjad</a></u></h1>
          </div>

        </div>
      </div>
  </div>

</div>
</footer>

        </div>

      </div>
    </div>
<br>
    <script src="../js/home.js"></script>
  </body>
</html>
