<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/custom.css" />
    <!--Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
  </head>
  <body class="bg-slate-50">
    <!-- home -->
    <div>
      <!-- Home Container-->
      <div>
        <!--Navber-->
        <div class="w-full mb-3 top-0 pt-4 bg-slate-50 fixed">
          <div class="flex justify-between px-4">
            <div class="">
              <!--Logo-->
              <div class="">
                <a href="#">
                  <img
                    class="block object-fill h-10 md:h-8 lg:h-11 w-50"
                    src="../img/logo.png"
                    alt=""
                /></a>
              </div>
            </div>
            <!--Nav List-->
            <div>
              <div class="hidden md:block">
                <ul>
                  <li class="inline-block md:text-lg lg:text-2xl mr-5">
                    <a
                      class="font-arima font-bold text-green-700 hover:text-blue-700 transition ease-in-out duration-75"
                      href="http://127.0.0.1:5500/site/layouts/home.html"
                      ><i class="bi bi-ticket">&nbsp;</i>TICKETS</a
                    >
                  </li>
                  <li class="inline-block md:text-lg lg:text-2xl mr-5">
                    <a
                      class="font-arima font-bold text-green-700 hover:text-blue-700 transition ease-in-out duration-75"
                      href="http://127.0.0.1:5500/site/layouts/home.html"
                      ><i class="bi bi-bag"></i> &nbsp;BUY</a
                    >
                  </li>
                  <li class="inline-block md:text-lg lg:text-2xl mr-5">
                    <a
                      class="font-arima font-bold text-green-700 hover:text-blue-700 transition ease-in-out duration-75"
                      href="http://127.0.0.1:5500/site/layouts/winner.html"
                      ><i class="bi bi-trophy"></i>&nbsp;WINNER</a
                    >
                  </li>
                  <li class="inline-block md:text-lg lg:text-2xl mr-5">
                    <a
                      class="font-arima font-bold text-green-700 hover:text-blue-700 transition ease-in-out duration-75"
                      href="#"
                      ><i class="bi bi-gear"></i>&nbsp; SETTING</a
                    >
                  </li>
                </ul>
              </div>
              <!--Icon for nav toggling-->
              <div class="md:hidden">
                <span
                  class="toggle-btn text-4xl cursor-pointer"
                  id="toggle-btn"
                >
                  <i
                    class="bi bi-justify-left text-zinc-700 transition ease-out duration-100 hover:shadow-inner"
                  ></i>
                </span>
              </div>
            </div>
          </div>

          <!-- list for md max devices -->
          <div
            class="md-navber transition ease-in-out duration-100 overflow-hidden md:hidden toggle-navber"
            id="toggle-navber"
          >
            <div class="my-4">
              <hr class="my-3" />
            </div>
            <div class="bg-white py-2 border-2 rounded-md">
              <ul>
                <li
                  class="md:inline-block md:text-lg lg:text-2xl mr-5 transition ease-in-out duration-10 block py-2 my-2 rounded-xl"
                >
                  <a
                    class="font-arima ml-4 font-bold text-green-700 transition ease-in-out duration-75"
                    href="http://127.0.0.1:5500/site/layouts/home.html"
                    ><i class="bi bi-ticket">&nbsp;</i>TICKETS</a
                  >
                </li>
                <li
                  class="md:inline-block md:text-lg lg:text-2xl transition ease-in-out duration-10 mr-5 block py-2 my-2 rounded-xl"
                >
                  <a
                    class="font-arima ml-4 font-bold text-green-700 transition ease-in-out duration-75"
                    href="buy-tickets.html"
                    ><i class="bi bi-bag"></i> &nbsp;BUY</a
                  >
                </li>
                <li
                  class="md:inline-block md:text-lg lg:text-2xl mr-5 block transition ease-in-out duration-10 py-2 my-2 rounded-xl"
                >
                  <a
                    class="font-arima ml-4 font-bold text-green-700 transition ease-in-out duration-75"
                    href="./winner.html"
                    ><i class="bi bi-trophy"></i>&nbsp;WINNER</a
                  >
                </li>
                <li
                  class="md:inline-block md:text-lg lg:text-2xl mr-5 block py-2 transition ease-in-out duration-10 my-2 rounded-xl h"
                >
                  <a
                    class="font-arima ml-4 font-bold text-green-700 transition ease-in-out duration-75"
                    href="#"
                    ><i class="bi bi-gear"></i>&nbsp; SETTING</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- hr -->
          <div class="border-b-4 border-slate-200 h-4 shadow-md rounded"></div>
        </div>

        <!-- Buy tickets section -->
        <div class="mt-20">
          <div class="container mx-auto px-4">
            <div>
              <h3 class="md:text-3xl text-xl font-arima pt-3">Buy Tickets</h3>
            </div>

            <div>
              <div class="grid grid-cols-2">
                <div class="md:col-span-1 col-span-2">
                  <div class="flex justify-center">
                    <img
                      class="object-cover md:h-96 md:w-96 w-60 h-60"
                      src="../img/buy-tickets.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="md:col-span-1 col-span-2">
                  <div class="mb-6">
                    <div class="p-4 bg-white border-2 rounded-md">
                      <form class="p-4">
                        <label
                          class="block mb-2 text-sm font-bold text-gray-700"
                          for="password"
                        >
                          Price
                        </label>
                        <div
                          class="w-full cursor-not-allowed px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                          id="password"
                          placeholder="10$"
                        >
                          <span>10$</span>
                        </div>
                        <div>
                          <label
                            class="block mb-2 text-sm font-bold text-gray-700"
                            for="password"
                          >
                            Quantity
                          </label>

                          <div class="mb-2">
                            <div class="flex">
                              <div>
                                <i
                                  class="bi text-green-600 text-4xl bi-dash-circle"
                                ></i>
                              </div>
                              <div
                                class="text-2xl font-semibold ml-3 font-mono"
                              >
                                1
                              </div>
                              <div>
                                <i
                                  class="bi text-green-700 text-4xl bi-plus-circle ml-3"
                                ></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button
                          class="w-full px-4 py-2 font-bold text-white bg-green-600 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                          type="button"
                        >
                          Buy
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- // -->
          <footer>
            <div>
              <!-- hr -->
              <div
                class="border-b-2 border-slate-200 h-4 shadow-md rounded"
              ></div>
              <!-- main footer -->
              <div class="container mx-auto px-4 mt-10">
                <div class="flex align-middle justify-center">
                  <div class="bg-white rounded-full border-2">
                    <img
                      src="../img/dev.jpg"
                      class="object-none md:h-50 md:w-50 rounded-full p-1"
                      alt="dev photo"
                    />
                  </div>
                  <div>
                    <div>
                      <h1>
                        <span class="text-xl font-cantate"
                          >&COPY;Copyright 2022.</span
                        >
                        <span class="text-xl font-edu"
                          >Design and Developed by</span
                        >
                        <u>
                          <a
                            class="font-xl font-edu"
                            href="https://github.com/msbhh-ms font-edu"
                            >Shohag Islam Sajjad</a
                          ></u
                        >
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <br />
    <script src="../js/home.js"></script>
  </body>
</html>
